
/*APP*/
#app-container {
	display: grid;
	grid-template-columns: 16% 17% 17% 17% 17% 16%;
	grid-template-rows: auto 20px auto;
	grid-template-areas: 
		". cfi cfi cfi cfi ."
		". . . . . ."
		" pl-pending pl-pending pl-ongoing pl-ongoing pl-finished pl-finished";
	padding:40px;

}

#create-form-item{
	grid-area: cfi;
}

#pl-pending {
	grid-area: pl-pending;
	justify-self: center;
}

#pl-ongoing {
	grid-area: pl-ongoing;
}

#pl-finished {
	grid-area: pl-finished;
}


#policy-form {
	display: grid;
	grid-template-columns: 250px 250px 250px;
	grid-template-rows: 60px 100px 60px;
	grid-template-areas: 
		"cph cpt info-premium"
		" fii fii fii"
		". . cpb";
	justify-content: center;
	padding: 50px;

}

/*Policy Form*/
#create-policy-header {
	grid-area: cph;
	justify-self: start;
	align-self: center;
	padding-left: 10px;
}

#input-select{
	grid-area: cpt;
	place-self: center;
	justify-self: stretch;
	padding-left: 7px;
	padding-right: 9px;
}

#create-policy-button{
	grid-area: cpb;
	align-self: center;
}

#form-inputs-item{
	grid-area: fii;
	justify-self: stretch;
	align-self: center;
}

#info-premium{
	grid-area: info-premium;
	place-self: center;
	padding-top: 7px;
	padding-left: 2px;
}

#form-inputs-container{
	display: grid;
	grid-template-columns: 33% 34% 33%;
	grid-template-rows: auto;
	grid-template-areas: 
		"fdi date-input dai";
}
#flight-designator-input{
	grid-area: fdi;
	place-self: center;
}

#date-input{
	grid-area: date-input;
	place-self: center;
	padding-left: 10px;
	padding-right: 10px;

}

#departure-airport-input{
	grid-area: dai;
	align-self: center;
	padding-bottom: 9px;
	padding-left: 10px;
	padding-right: 10px;
}

/*Card*/

.card-container{
	display: grid;
	grid-template-columns: 220px 180px;
	grid-template-rows: 360px 50px 10px;
	grid-template-areas: 
		"card-content card-content"
		". card-actions"
		". .";
		

}

.card-content{
	grid-area: card-content;
	place-self: center;

}

.card-actions{
	grid-area: card-actions;
	align-self: start
}

.card-content-container{
	display: grid;
	grid-template-columns: 300px 60px;
	grid-template-rows: 50px 300px;
	grid-template-areas: 
		"header-id reload"
		"info-table info-table"
	
}

.header-id{
	grid-area: header-id;
	align-self: center;
}

.reload {
	grid-area: reload;
	place-self: center;
}

.info-table{
	grid-area: info-table;

}

#policylist {
	display: flex;
    justify-content: center;
}

.app-toolbar {
	display: grid;
	grid-template-columns: 25% 100px 600px 150px 25%;
	grid-template-rows: 30px 30px;
	grid-template-areas: 
		". logo app-title participant ."
		". logo app-title balance .";
	
	align-items: center;
}

.logo{
	grid-area: logo;
}

.app-title{
	grid-area: app-title;
	justify-content: start
}

.participant {
	grid-area: participant
}

.balance {
	grid-area: balance;
}